.chat-body{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='1100' preserveAspectRatio='none' viewBox='0 0 1600 1100'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath5515%26quot%3b)' fill='none'%3e%3crect width='1600' height='1100' x='0' y='0' fill='url(%23SvgjsLinearGradient5516)'%3e%3c/rect%3e%3ccircle r='60.005' cx='1020.67' cy='1084.85' fill='url(%23SvgjsLinearGradient5517)'%3e%3c/circle%3e%3ccircle r='65.98' cx='1232.45' cy='783.93' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='45.4' cx='1564.86' cy='742.52' fill='url(%23SvgjsLinearGradient5518)'%3e%3c/circle%3e%3ccircle r='95.725' cx='968.93' cy='964.04' fill='url(%23SvgjsLinearGradient5519)'%3e%3c/circle%3e%3ccircle r='33.93' cx='313.97' cy='76.36' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='50.39' cx='211.77' cy='569.08' fill='url(%23SvgjsLinearGradient5520)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath5515'%3e%3crect width='1600' height='1100' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='7.81%25' y1='-11.36%25' x2='92.19%25' y2='111.36%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5516'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='900.66' y1='1084.85' x2='1140.68' y2='1084.85' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5517'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(28%2c 26%2c 83%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1474.06' y1='742.52' x2='1655.6599999999999' y2='742.52' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5518'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(109%2c 20%2c 84%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='777.48' y1='964.04' x2='1160.38' y2='964.04' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5519'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='110.99000000000001' y1='569.08' x2='312.55' y2='569.08' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient5520'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='rgba(28%2c 26%2c 83%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.container {
  background-color: #F2EBE9;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.message-container {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #A5BECC;
  border-radius: 10px;
  margin: 40px 100px;
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: #243A73;
  max-width: 40%;
}

.message-sent {
  align-self: flex-end;
  background-color: #7C3E66;
  color: #F2EBE9;
  font-size: 14px;
}

.message-received {
  align-self: flex-start;
  background-color: #F2EBE9;
}

.message-input {
  margin: 20px;
  display: flex;
  align-self: center;
}

.input-field {
  flex-grow: 0.6;
  padding: 30px;
  border-radius: 5px;
  border: none;
  flex-direction: row;
  align-self: center;
  margin: 0px 20px 0px 250px;
}

.send-button {
  background-color: #7C3E66;
  color: #F2EBE9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.conversation-starter-button {
  background-color: #243A73;
  color: #F2EBE9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.conversation-starter-button:hover {
  background-color: #F2EBE9;
  color: #243A73;
  border: 1px solid #243A73;
}
.modal-button {
  background-color: #7C3E66;
  color: #F2EBE9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-button:hover {
  background-color: #243A73;
}

.match-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  color: white;
  font-size: 40px;
}

.time-text{
  color: white;
  font-size: 30px;
}

button{
  margin: 10px;
}