.container {
  background-color: #F2EBE9;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.message-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #A5BECC;
  border-radius: 10px;
}

.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  color: #243A73;
  max-width: 70%;
}

.message-sent {
  align-self: flex-end;
  background-color: #7C3E66;
  color: #F2EBE9;
}

.message-received {
  align-self: flex-start;
  background-color: #F2EBE9;
}

.message-input {
  margin-top: 20px;
  display: flex;
}

.input-field {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.send-button {
  background-color: #7C3E66;
  color: #F2EBE9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.conversation-starter-button {
  background-color: #243A73;
  color: #F2EBE9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.conversation-starter-button:hover {
  background-color: #F2EBE9;
  color: #243A73;
  border: 1px solid #243A73;
}
.modal-button {
  background-color: #7C3E66;
  color: #F2EBE9;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-button:hover {
  background-color: #243A73;
}

.match-card-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
}

