/* .start-matching-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  

.start-matching-button {
    background-color: #7c3e66;
    border: none;
    border-radius: 10px;
    color: #f2ebe9;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  .start-matching-button:hover {
    background-color: #243a73;
    color: #a5becc;
  }
   */


   .start-matching-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://imgs.search.brave.com/ljxCqHFnBwXcfQwlQsUL2DztfP6qY2j4uPRkBcUf1E0/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9zdGF0/aWMuaW5kZXBlbmRl/bnQuY28udWsvczNm/cy1wdWJsaWMvdGh1/bWJuYWlscy9pbWFn/ZS8yMDE2LzAzLzE5/LzE4L3dlYi1kYXRp/bmctbWF0Y2gtcmV4/LmpwZw');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .start-matching-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(100, 38, 57);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .start-matching-button:hover {
    background-color: #f55353;
  }
  
  .match-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
  